// estilos jugador 

.main-jugador {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .div-player, 
    .div-jugador {
        background-color: brown;
        flex: 1 1 45%;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 20%;
        }
    }

    .div-jugador h2 {
        margin: 2rem;
        background-color: whitesmoke;
        border-radius: 30px;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0, 5%;
    }
}
