// estilos jugador 

.main-jugador {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .div-player h1 {
        font-family: 'Georgia', serif; // Cambia la fuente a algo elegante
        font-size: 1.5rem; // Tamaño de fuente grande
        text-transform: uppercase; // Mayúsculas
        letter-spacing: 3px; // Espacio entre letras
        text-align: center; // Centra el texto
        color: $color-principal; // Usa tu color principal (variable SCSS)
        padding: 15px; // Espacio alrededor
        background-color: $color-secundario; // Fondo con tu color secundario
        border-radius: 10px; // Bordes redondeados
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .div-player,
    .div-jugador {
        background-color: brown;
        flex: 1 1 45%;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 20px;
        }
    }

    .div-jugador h2 {
        margin: 2rem;
        background-color: whitesmoke;
        border-radius: 30px;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0, 5%;
    }
}

.video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(68, 51, 56, 0.767);
    margin: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    
     

    .responsive-iframe {
        flex: 1;

        iframe {
            width: 100%;
            height: 315px; // Ajuste para el video
        }
    }

    .video-text {
        flex: 1;
        padding: 20px;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: white;
        }

        p {
            font-size: 16px;
            color: black;

        }
    }
}

.video-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(68, 51, 56, 0.767);
    margin: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .video-2-text {
        flex: 1;
        padding: 20px;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: white;
        }

        p {
            font-size: 16px;
            color: black;
        }
    }

    .responsive-iframe {
        flex: 1;

        iframe {
            width: 100%;
            height: 315px; // Ajuste para el video
        }
    }

    // Orden de los elementos en desktop: texto a la izquierda, video a la derecha
    .video-2-text {
        order: 1;
    }

    .responsive-iframe {
        order: 2;
    }
}